/* start - COLORS */
$color-primary: #DFE9F2;
$color-secondary: #263144;
$color-third: #B9AE80;

$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-gray: #333333;
$color-medium-gray: #777777;
$color-light-gray: #CCCCCC;


$color-form-background: #F6F9FB;
$color-calltoaction: #70BB66;
$color-border-input: #85A0BA;
$color-readonly-input: #E0E9F2;


$color-background-right: #F6F9FB;
/* end - COLORS */

/* start - DIMENSIONS */
$bottom-space: 15px;


/* end - DIMENSIONS */

/* start - TYPOGRAPHY */


/* end - TYPOGRAPHY */